:root{
    --green-color: hsl(75, 94%, 57%);

/* Neutral */
    --white-color: hsl(0, 0%, 100%);
    --grey-color: hsl(0, 0%, 20%);
    --dark-grey-color: hsl(0, 0%, 12%);
    --off-black-color: hsl(0, 0%, 8%);
}


* {
    font-family: "Inter", sans-serif;
    background-color: var(--off-black-color);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Container */
.container {
    text-align: center;
    height: 615px;
    width: 385px;
    background-color: var(--grey-color);
    border-radius: 10px;
    background-color: var(--dark-grey-color);
}

/* Profile image */
.image-profile{
    border-radius: 100%;
    width: 80px;
    margin-top: 30px;
}

/* Text */

#user-name{
    color: var(--white-color);
    font-size: 24px;
    font-weight: 500;
    background-color: inherit;
    margin-top: 20px;
}

#location{
    margin-top: -8px;
    color: var(--green-color);
    font-size: 14px;
    background-color: inherit;
}

#description{
    color: var(--white-color);
    font-size: 14px;
    font-weight: 300;
    background-color: inherit;
    margin-top: 35px;
}


/* social media */

.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    padding: 0px 20px;
}

.links{
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--grey-color);
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 15px;
    width: calc(100% - 80px);
    margin: 4px;
    margin-top: 15px;
}

.links:hover{
    background-color: var(--green-color);
    color: var(--off-black-color);
}

/* footer */
.footer{
    margin-top: 40px;
    color: var(--white-color);
    text-decoration: none;
}
.footer a{
    text-decoration: underline;
    color: var(--white-color);

}

.footer a:hover{
    color: var(--green-color);
}

/* Medias */

@media (max-width: 375px) {
    .container{
        height: 600px;
        width: 330px;
    }

    .links{
        width: calc(100% - 40px);
    }
    
    .footer{
        text-align: center;
    }
}